# Terraform
*.tfstate
*.tfstate.backup
*.tfvars
.terraform/
.terraform.lock.hcl
crash.log

# Ansible
*.vault_pass
ansible/group_vars/all/vault.yml
ansible/inventory.yml

# Secrets
*.env
.env*
secrets*

# OS
.DS_Store
Thumbs.db


